h1{
    height:70;
    margin:0 auto;
    text-align: center;
    font-size: 35px;
    font-style:bold;
    padding:30px;
    color: rgba(49, 9, 114, 0.774);
    margin-bottom: 40px;
    
}
p{
    height: 60px;
    margin:0 auto;
    text-align: center;
    font-size: 35px;
    font-style: inherit;
}

body{
    margin:0 auto;
    margin-top: 50px;
    
    background-image: url("./farm-animals.png");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
    
}

.content{
    background-color: antiquewhite;
 width: 500px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin:0 auto;
    margin-left: 50px;
    margin-right:50px;
    border:5px solid goldenrod;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    
}
